body {
    margin: 0;
    padding: 0;
    background: #fefefe;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #231F20;
    overflow: auto
}

a {
    color: #000;
    font-size: 14px;
}

#main {
    width: 100%;
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 680px;
    margin-top: 10px;
}

#text {
    width: 400px;
    height: 425px;
    left: 60px;
    top: 80px;
    position: absolute;
}

#code {
    display: none;
    font-size: 16px;
}

#clock-box {
    position: absolute;
    left: 60px;
    top: 550px;
    font-size: 28px;
    display: none;
}

#clock-box a {
    font-size: 28px;
    text-decoration: none;
}

#clock {
    margin-left: 48px;
}

#clock .digit {
    font-size: 64px;
}

#canvas {
    margin: 0 auto;
    width: 1100px;
    height: 680px;
}

#error {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
}

.hand {
    cursor: pointer;
}

.message {
    margin-left: 5px;
    font-size: 20px;
}

.space {
    margin-right: 150px;
}

.club__name , .logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.club__name {
    margin: 24px;
    color: #031959;
    margin-top: 50px;
    margin-bottom: 0;
}

.logo img {
    width: 150px;
    height: auto;
}